.auth-container {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    text-align: center;
    border: 2px solid #e0e0e0;
}

.auth-container input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.auth-container button {
    width: 95%;
    background: #2b7a0b;
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.auth-container button:hover {
    background: #256509;
}
